.proPic {
    width: 250px;
    height: 250px;
}
footer {
    text-align: center;
    position: relative;
    font-size: 12px;
}

.topic {
    text-align: center;
}

.darkbg {
    display: flex;
    background-color: #1f2937;
    color: white;
}